
.imgArea-text {
  z-index: 99;
  position: absolute;
  color: #000;
  font-weight: 900;
  font-size: 28px;
}
.container-presales {
  border: 3px double #2adeea;
  border-style: dashed;
}
.btnAllReward,
.btnStake {
  width: 200px;
  height: 40px;
  font-weight: 800;
  font-size: 20px;
  border-radius: 10px;
  color: #fff;
}
.btnStake {
  background: #28aa73;
  border: 1px solid #28aa73;
  margin-right: 5px;
}
.btnAllReward {
  background: #3bc2cb;
  border: 1px solid #3bc2cb;
}
.balanceMag {
  color: #2adeea;
}
.textMyCrazy {
  font-size: 32px;
  color: #fff;
  font-family: "Bowlby One";
  font-style: normal;
  font-weight: 600;
}
@media (max-width: 676.98px) {
  .textMyCrazy {
    font-size: 22px;
  }
}
.card-img-top {
  width: 300px;
  height: 300px;
}
.card-img-top {
  width: 290px;
  height: 300px;
}
.card {
  width: 290px;
  border: none !important;
  border-radius: 10px !important;
}
.card-body {
  background: #21353b;
  border-bottom-left-radius: 7px !important;
  border-bottom-right-radius: 7px !important;
}
.card-title {
  color: #4ffcb3;
}
.card-text,
.card-sub-title,
.card-Link {
  color: #fff;
}
.card-Link {
  text-decoration: none;
}
.card-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-buttons button {
  margin-top: 5px;
  width: 260px;
  height: 40px;
  background: #28aa73;
  border-radius: 10px;
  border: 1px solid #28aa73;
  color: #fff;
}
.preslaesAdditionSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  --bs-gutter-x: 0px !important;
}
.preslaesAdditionSection {
  background: #000000;
  border: 1px solid #405c65;
  border-radius: 5px;
  height: 50px;
}
@media (max-width: 320px) {
  .preslaesAdditionSection {
    width: 270px;
  }
}

.navItems,
.navItems a {
  height: 70px;
  background: #405c65;
  padding: 2px;
}
.navItems .active {
  background-color: #2adeea !important;
  border: 2px solid #2adeea !important;
}


.presaleCard {
  background: #051f28;
  width: 480px;
  height: 515px;
  border-radius: 10px;
  position: relative;
}
@media (max-width: 320px) {
  .mintAdditionSection {
    width: 270px;
  }
}
@media (min-width: 576px) {
  .presaleCard {
    width: 480px;
  }
}
.presaleCardHeader {
  color: #fff;
  background: #608a97;
  border-radius: 10px 10px 0px 0px;
}
.presaleCardHeaderh3 {
  font-size: 24px;
  font-weight: 700;
}
.presaleCardSubHeader {
  background: #405c65;
  color: #fff;
  position: relative;
}
.presaleCard2SubHeader {
  background: #405c65;
  color: #fff;
  position: relative;
}
.presaleCardBody {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.navTabs {
  width: 33.33%;
  height: 50px;
  background: #405c65 !important;
  border: 1px solid #28aa73;
}
.navTabs {
  color: #7d9ea9;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border: 1px solid #28aa73;
  padding: 5px !important;
}
.nav-tabs .nav-link {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border: 1px solid #28aa73;
}
.tabText {
  color: #fff;
  font-size: 20px;
}
@media (max-width: 767.98px) {
  .tabText {
    color: #fff;
    font-size: 13px;
  }
}
.nav-tabs .nav-link.active {
  background: #2adeea !important;
  border: 1px solid #28aa73;
}
.tab1 {
  border-top-left-radius: 10px !important;
}
.tab3 {
  border-top-right-radius: 10px !important;
}
.preSaleCardBody {
  padding: 0px 20px;
}
.progress {
  background: #405c65 !important;
}
.progress-bar {
  background: #4ffcb3;
  border-radius: 5px;
  color: #000;
}
.progressValue {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-top: 10px;
}
.btnMinusPresale {
  padding: 0px 15px;
  font-size: 30px;
}
.btnPlusPresale {
  padding: 0px 30px !important;
  font-size: 30px;
}
.btnMintPresale {
  background: #28aa73;
  border: 1px solid #28aa73;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  color: #fff;
}
.btnMintPresale1{
  background: #ffffff;
  border: 1px solid #28aa73;
  border-radius: 15px;
  width: 100px;
  height: 40px;
  color: rgb(0, 0, 0);
}
.textColor {
  color: #4ffcb3 !important;
}
a{
  cursor: pointer;
}
.connectBtnInPresale {
  display: flex;
  justify-content: end;
  align-items: center;
}
.btnConnectInPresale {
  width: 200px;
  height: 40px;
  font-weight: 800;
  font-size: 20px;
  border-radius: 10px;
  color: #fff;
  background: #28aa73;
  border: 1px solid #28aa73;
}

.mintText {
  font-size: 50px;
  line-height: 100%;
  color: #4ffcb3;
}
.imageRightSidediv {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 10px;
  right: 10px;
  z-index: 9999;
}
.balanceRemaining {
  color: #4ffcb3;
  text-align: right;
  font-size: 12px;
}
.imageRightSide {
  width: 90px;
  height: 90px;
}
@media (max-width: 575.98px) {
  .imageRightSidediv {
    right: 5px !important;
    top: 20px !important;
  }
  .imageRightSide {
    width: 90px;
  }
  .balanceRemaining {
    font-size: 10px !important;
  }
  .mintHeaderh3 {
    font-size: 14px !important;
  }
  .mintHeaderSpan {
    font-size: 9px !important;
  }
  .onIcon,
  .offIcon {
    right: 120px !important;
    width: 17px !important;
  }
}
.mintCardBody li {
  list-style-type: none;
  /* position: relative; */
  /* padding-left: 15px; */
  font-size: 15px;
  color: #fff;
  padding-top: 15px;
  padding-bottom:10px;
  /* top: 5px; */
}

.mintCardBody,
.mintCard2 {
  
  background: #051f28;
}
.mintCard {
  max-width: 420px;
  border-radius: 10px;
}
.mintCard2 {
  width: 420px;
  border-radius: 10px;
  position: relative;
}
.mintImage {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}
.mintCardBody {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


/* @media (min-width: 576px) {
  
  .mintCard,
  .mintCard2 {
    width: 420px;
  }
} */
.mintCard2Header {
  color: #fff;
  background: #608a97;
  border-radius: 10px 10px 0px 0px;
}
.mintHeaderh3 {
  font-size: 24px;
  font-weight: 700;
}
.mintCard2SubHeader {
  background: #405c65;
  color: #fff;
  position: relative;
}
.onIcon,
.offIcon {
  position: absolute;
  top: 10px;
  right: 140px;
}
.spanBalance {
  color: #4ffcb3;
}
.mintAdditionSection,
.mintTotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mintAdditionSection {
  background-color: #000;
  border-radius: 5px;
  border: 1px solid #000;
  height: 50px;
}
.btnMinus,
.btnPlus,
.btnMax {
  background: transparent;
  border: none;
  padding: 5px 10px;
}
.spanCount{
  text-align: center;
  border: none;
  outline: none;
}
.btnMinus,
.btnPlus{
  font-size: 20px;
  width: 3px;
  color: #fff;
}
.btnMax {
  font-size: 15px;
  color: #767c88;
}
.divider,
.hori {
  margin: 20px 0px;
  border-top: 2px solid #405c65;
}

.totalSpan,
.KLAYspan {
  color: #fff;
}
.btnWalletStakeArea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btnConnectWallet,
.btnMint {
  color: #fff;
  width: 290px;
  margin: 5px;
  padding: 5px 20px;
  font-weight: 800;
  font-size: 24px;
}

.btnConnectWallet {
  background: #28aa73;
  border: 1px solid #28aa73;
  border-radius: 10px;
}
.btnMint {
  background: #3bc2cb;
  border: 1px solid #3bc2cb;
  border-radius: 10px;
}
.mintHeaderSpan {
  font-size: 14px;
}


/* countdown */
#countdown{
	width: 465px;
	height: 112px;
	text-align: center;
	/* background: #222; */
	/* background-image: -webkit-linear-gradient(top, #222, #333, #333, #222); 
	background-image:    -moz-linear-gradient(top, #222, #333, #333, #222);
	background-image:     -ms-linear-gradient(top, #222, #333, #333, #222);
	background-image:      -o-linear-gradient(top, #222, #333, #333, #222); */
	/* border: 1px solid #111; */
	border-radius: 5px;
	/* box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6); */
	margin: auto;
	padding: 24px 0;
	position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}
@media (max-width: 320px) {
  #countdown{
    width: 50px;
    border: red 2px solid;
    /* width: auto;
    top: 100px; */
  }
  #countdown #tiles {
    width: 20px;
    max-width: 40px;
    border: red 2px solid;
    padding: 10px;
    display: flexbox;
  }
}
/* #countdown:before{
	content:"";
	width: 8px;
	height: 65px;
	background: #444;
	background-image: -webkit-linear-gradient(top, #555, #444, #444, #555); 
	background-image:    -moz-linear-gradient(top, #555, #444, #444, #555);
	background-image:     -ms-linear-gradient(top, #555, #444, #444, #555);
	background-image:      -o-linear-gradient(top, #555, #444, #444, #555);
	border: 1px solid #111;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	display: block;
	position: absolute;
	top: 48px; left: -10px;
} 

#countdown:after{
	content:"";
	width: 8px;
	height: 65px;
	background: #444;
	background-image: -webkit-linear-gradient(top, #555, #444, #444, #555); 
	background-image:    -moz-linear-gradient(top, #555, #444, #444, #555);
	background-image:     -ms-linear-gradient(top, #555, #444, #444, #555);
	background-image:      -o-linear-gradient(top, #555, #444, #444, #555);
	border: 1px solid #111;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	display: block;
	position: absolute;
	top: 48px; right: -10px;
} */

#countdown #tiles{
	position: relative;
	z-index: 1;
}

#countdown #tiles > span{
	width: 92px;
	max-width: 92px;
	font: bold 48px 'Droid Sans', Arial, sans-serif;
	text-align: center;
	color: #111;
	background-color: #ddd;
	background-image: -webkit-linear-gradient(top, #bbb, #eee); 
	background-image:    -moz-linear-gradient(top, #bbb, #eee);
	background-image:     -ms-linear-gradient(top, #bbb, #eee);
	background-image:      -o-linear-gradient(top, #bbb, #eee);
	border-top: 1px solid #fff;
	border-radius: 3px;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
	margin: 0 7px;
	padding: 18px 0;
	display: inline-block;
	position: relative;
}

/* #countdown #tiles > span:before{
	content:"";
	width: 100%;
	height: 13px;
	background: #111;
	display: block;
	padding: 0 3px;
	position: absolute;
	top: 41%; left: -3px;
	z-index: -1;
}

#countdown #tiles > span:after{
	content:"";
	width: 100%;
	height: 1px;
	background: #eee;
	border-top: 1px solid #333;
	display: block;
	position: absolute;
	top: 48%; left: 0;
} */

#countdown .labels{
	width: 100%;
	height: 25px;
	text-align: center;
	position: absolute;
	bottom: 8px;
}

#countdown .labels li{
	width: 102px;
	font: bold 15px 'Droid Sans', Arial, sans-serif;
	color: #f47321;
	text-shadow: 1px 1px 0px #000;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
}


.countdown{
  display: flex;
  justify-content: center;
  gap: 18px;
}
.countdown > div{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: #28aa73;
  box-shadow: 1px 1px 15px rgba(0,0,0,0.25);
  width: 80px;
  height: 80px;
  border-radius: 5px;
}
.number {
  font-weight: 500;
  font-size: 40px;
  color: #fff;
}
.box_text{
  font-size: 14px;
}
/* div span:last-of-type{
  font-size: 12px;
} */

@media screen and (max-width:600px){
  h1{
    font-size: 40px;
  }
  .countdown{
    gap: 10px;
  }
  .countdown > div{
  width: 60px;
  height: 80px;
}
  
  .number {
  font-size: 34px;
}
}